################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/BibliotecaApp/png-logo.icon.ico
/.vs/biblioteca-gastao.slnx
/.vs/biblioteca-gastao/CopilotIndices/18.3.508.13148
/.vs/biblioteca-gastao/BibliotecaApp:/BibliotecaDB:/
